.outerbox{
    margin-top: 30px;
    background-image: repeating-linear-gradient(40deg,black,rgb(24, 24, 24),black);
    border-radius: 10px;
    padding: 10px;
    height: 32em;
}
.main_heading{
    font-size: 36px;
    font-weight: 900;
    color:  #080808;
    position: relative;
    top: -33px;
    background-image: repeating-linear-gradient(30deg,rgb(19, 133, 95), rgb(42, 221, 57) 50% ,rgb(19, 133, 95));
    border-radius: 7px;
    /* border: 0.5px solid;   */
    padding: 10px;
    
}
span{
    color: rgb(7, 7, 7);
}
.task{
    border: none;
    border-radius: 50px;
    color: rgb(27, 31, 49);
    padding: 5px;
    
}
.task:focus{
    outline:none;
    box-shadow: 0 0 10px black;

   }
.add_btn{
    position: relative;
    top:5px;
    border: none;
    background: transparent;
    border-radius: 50px; 
}
.add_btn:focus{
    outline: none;  
}
.add_btn:hover .tooltip1{
  
    visibility: visible; 
}
/* /---------------------------------------------------------- inner box 02*/
.innerbox2{
    height:18em;
    background-color: rgb(30, 39, 39);
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    overflow-y: scroll;
    
}
.dell_btn{
     position: relative;
     top: -5px; 
     left: 2em;
    border: none;
    background: transparent;
    border-radius: 50px; 
}
.dell_btn:focus{
    outline: none;
    text-shadow: 0 0 30px green;
}
.dell_btn:hover .tooltip1{

     visibility: visible;
}
.footer{
    margin-top: -8px;
    color:black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: repeating-linear-gradient(10deg,rgb(19, 133, 95), rgb(20, 124, 29) 50% ,rgb(19, 133, 95));

}

.todo{
    background: transparent;
    border: none;
    
}
.todo:focus{
    outline: none;
}
.tododiv{
    height: 30px;
    border-radius: 50px;
    background: white;
}
.panal_btn{
    background: transparent;
    border: none;
}
.panal_btn:focus{
    outline:none;

}
.tooltip1{
    visibility: hidden;
    border-radius: 3px;
    background:white;
    color: black;
    position: relative;
    padding: 4px;
    top: -20px;
    left: 5px;
} 
i:hover{
    text-shadow: 0 0 10px rgb(243, 239, 239);
}



