body{
    margin:0 ;
    padding: 0;
    background-image: radial-gradient(rgba(195, 0, 255, 0.767),rgba(128, 0, 128, 0.76));
    background-size: cover;
    display: flex;
    align-items: center;    
}
.outerbox{
    border: 1px solid white;
    background-color: rgba(21, 34, 41, 0.931);
    border-radius: 10px;
    height: 480px;
    position: sticky;
    margin-top: 7%;
    padding: 80PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
.outerbox_btn{
    padding: 8PX;
    width: 100px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 30px;
    margin-right: 10px;
    font-size: 14px;
}
.outerbox_btn:hover{
    outline:none;
    background-color: white;
    color: blue;
}
.outerbox_btn:focus{
    outline:none;
    background-color: white;
    color: blue;
    box-shadow: 0 0 10px rgb(131, 75, 184);
}
.inputs{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    width: 200px;
    border-bottom: 2px solid white;
    margin-top: 100px;
    margin-right: 10px;
    font-size: 20px;

}

.mcq{
   padding: 10%;
}
.quiz{
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 4px;
    
}
.ops{
    display: block;
    padding: 3px;
    background-color: rgba(230, 222, 222, 0.486);
    font-size: 14px;
}
.usernm{
    
    border-bottom: 0.7px dotted rgba(255, 255, 255, 0.87);
    color: white;
    margin-left: 5px;

}
.app_head{
    font-size: 52px;
    font-weight: 900;
}