body{
    margin:0 ;
    padding: 0;
    background-image: url(pics/bckground.jpg);
    background-size: cover;
    text-align: center;
    
    
}
.outerbox{
    border: 1px solid white;
    background-color: rgba(233, 227, 148, 0.418);
    border-radius: 10px;
    height: 400px;
    position: sticky;
    top: 150px;
    left: 200px;
    padding: 80PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
.outerbox_btn{
    padding: 8PX;
    width: 100px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 100px;
    margin-right: 10px;
}
.outerbox_btn:hover{
    outline:none;
    background-color: white;
    color: blue;
}
.outerbox_btn:focus{
    outline:none;
    background-color: white;
    color: blue;
    box-shadow: 0 0 20px blueviolet;
}
.inputs{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    margin-top: 100px;
    margin-right: 10px;

}
